@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #010409;
  color: #e6ebf1;
  font-family: "Comfortaa", sans-serif;
  width: 960px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: #597df2;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 2.8rem;
  margin: 8px;
  text-align: center;
}

p {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.6rem;
  margin: 16px 8px;
  text-align: center;
}

a {
  color: #597df2;
  text-decoration: none;
  font-weight: 700;
}

button {
  background-color: #6768f0;
  padding: 12px 24px;
  border: none;
  border-radius: 6px;
  font-family: "Comfortaa", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 16px 8px;
}

button > a {
  color: #e6ebf1;
  text-decoration: none;
}

img {
  width: 100%;
  padding: 20px 0;
}