@font-face {
  font-family: 'EnterCommand';
  src:
    local("EnterCommand"),
    url("./fonts/entercommand.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #671189;
  background: radial-gradient(at center bottom, #671189, #2A263B);
  min-height: 100dvh;
  margin: 40px auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f2f2f2;
  font-size: 1.2rem;
}

main {
  max-width: 960px;
  margin: auto;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.header-container img {
  filter: drop-shadow(0 0 16px black);
  margin: 0 5%;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

h1 {
  font-family: EnterCommand;
  font-size: 4.5rem;
  line-height: 3.5rem;
  text-align: center;
  text-shadow: 0 0 16px black;
}

h2 {
  font-family: EnterCommand;
  font-size: 2.5rem;
  line-height: 2rem;
  text-align: center;
}


.challenges-container {
  margin: 40px 5%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 8px;
}

.challenge {
  border: #2A263B 4px solid;
  border-radius: 12px;
  height: 120px;
  display: grid;
  place-content: center;
  place-items: center;
  font-family: EnterCommand;
}

.challenge p {
  font-size: 1.5rem;
  line-height: 2rem;
  margin-top: 0.5rem;
}

.challenge span {
  color: #f2f2f2;
  font-size: 2rem;
}

.challenge a {
  text-decoration: none;
}

.done {
  background-color: #01a546;
}

.draft {
  background-color: #e66a34;
}

footer {
  max-width: 760px;
  text-align: center;
  margin: auto;
  padding: 0 5%;
}