@font-face {
  font-family: 'EnterCommand';
  src:
    local("EnterCommand"),
    url("./fonts/entercommand.woff2") format("woff2");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #671189;
  background: radial-gradient(at center bottom, #671189, #2A263B);
  min-height: 100dvh;
  width: 960px;
  margin: auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f2f2f2;
  font-size: 1.2rem;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 40px;
}

.header-logo {
  width: 250px;
}

.header-text {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 500px;
}

.header-text h1 {
  font-family: EnterCommand;
  font-size: 5rem;
  line-height: 3.5rem;
  text-shadow: 0 0 16px black;
}

.header-text a {
  color: #da562f;
  text-decoration: none;
}

.header-text a:hover {
  color: #ecdc58;
  text-decoration: none;
}

.challenges-container {
  width: 720px;
  height: 600px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  gap: 8px;
}

.challenge {
  border: #2A263B 4px solid;
  border-radius: 12px;
  display: grid;
  place-content: center;
  place-items: center;
  font-family: EnterCommand;
}

.challenge a {
  text-decoration: none;
}

.done {
  background-color: #01a546;
}

.draft {
  background-color: #e66a34;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 720px;
  gap: 20px;
  margin: 20px auto;
  text-align: center;
}

.social {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}