* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #f2f2f2;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #434343 0%, black 100%);
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 2% auto;
  gap: 60px;
  align-items: center;
}

.video {
  display: flex;
  justify-content: center;
  position: relative;
}

img{
  position:relative;
  width:100%;
  height:auto;
}

iframe{
  position:absolute;
  top: 13%;
  width: 74%;
  height:auto;
  aspect-ratio:14/9;
}

.info {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  text-wrap: pretty;
}

.controls {
  margin-top: 20px;
}

.controls button {
  padding: 10px 20px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
}

.controls button:hover {
  background-color: #0056b3;
  font-size: 1.2rem;
}

@media screen and (min-width: 320px) and (max-width: 1180px) {
  .container {
    flex-direction: column;
    margin: 12% 5%;
    gap: 20px;
  }
  .video {
    margin: 0 auto;
  }
  .info {
    margin: 0 auto;
  }
  h1 {
    font-size: 2.5rem;
  }
  
  p {
    font-size: 1.4rem;
    line-height: 2rem;
    text-wrap: pretty;
  }
}